<div class="modal fade" id="{{ id }}">
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content" style="overflow-wrap: anywhere">
      <div class="modal-header">
        <h5 class="modal-title">{{ title }}</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <p [innerHTML]="message"></p>
      </div>
      <div class="modal-footer"></div>
    </div>
  </div>
</div>
