<div class="footer navbar-fixed-bottom">
  <div class="row" style="justify-content: center" align="center">
    <div class="col-6">
      <p class="footer-content">
        Copyright © Powered by SaveAround, {{ currentYear }}. All rights
        reserved <ng-container *ngIf="buildDisplayVersion">Ver: {{ buildDisplayVersion }}</ng-container>
      </p>
    </div>
    <div class="col-2 d-inline-block">
      <select #languageSelected (click)="selectLanguage(languageSelected.value)" class="form-select" aria-label="Default select example">
        <option selected value="en">English</option>
        <option value="es">Spanish</option>
      </select>
    </div>
  </div>
</div>
