<nav class="secondry-nav">
  <div class="container-fluid item-center pt-1 pb-1 badge-nav">
    <div class="row nav-content">
      <div class="col bar-block">
        <app-circular-progress-bar [progress]="50"></app-circular-progress-bar>
        <span class="text-dark badge-title">Earned Year to Date </span>
      </div>
      <div class="col amount-block">
        <span class="badge badge-light reward-badge"
          ><span class="nav-badge-icon">$</span>50.00</span
        >
        <span class="badge-title text-dark">My Reward Balance </span>
      </div>
    </div>
  </div>
</nav>
