.tabs {
  display: flex;
  // justify-content: center;
  margin-bottom: 20px;
  padding-top: 2.5rem !important;
  width: 90%;
  margin-right: auto;
  margin-left: auto;
}

.tab {
  cursor: pointer;
  padding: 10px 20px;
  background-color: #f2f2f2;
  color: #000000;
  // border: 1px solid #ccc;
  // border-radius: 4px;
  margin-right: 10px;
  transition: background-color 0.3s ease;
}

.tab:hover {
  background-color: #e0e0e0;
}

.tab.active {
  // background-color: #007bff;
  color: #130808;
  border-bottom: 3px solid  #007bff;

}

.tab-content {
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 4px;
  width: 90%;
  margin-right: auto;
  margin-left: auto;
}

/* Responsive Styles */
@media (max-width: 600px) {
  .tabs {
    flex-direction: column;
    align-items: stretch;
  }

  .tab {
    margin-bottom: 10px;
    margin-right: 0;
  }

  .tab-content {
    padding: 10px;
  }
}
