@import "~@fortawesome/fontawesome-free/css/all.css";
.nav-badge {
  margin-right: 70px;
}
@media (max-width: 631px) {
  .nav-badge {
    margin-right: auto;
    margin-left: 50px;
  }
  .nav-image {
    width: 100px;
    height: 40px;
  }
  .navbar-brand {
    margin-left: auto;
    margin-right: auto;
  }
  .badge-item {
    display: none;
  }

}
.navbar {
  position: static;
  width: 100%;
}

.nav-title {
  font-size: 16px;
  font-weight: 700;
}

.hide {
  display: none;
}

.navbar {
  width: 100%;
}

.badge-item {
  float: right;
}


