@import "~@fortawesome/fontawesome-free/css/all.css";
.nav-badge {
  margin-right: 70px;
  padding-top: 0px;
  padding-bottom: 0px;
}
@media (max-width: 768px) {
  .nav-badge {
    margin-right: auto;
    margin-left:50px;
  }
}

.navbar {
  position: static;
  width: 100%;
}
.nav-badge {
  .reward-badge {
    color: rgb(74, 211, 74);
    font-size: 15px;
    font-weight: bolder;
  }
  .nav-badge-icon {
    font-size: 10px;
    vertical-align: super;
  }
  .badge-title {
    font-size: 10px;
  }
}

.nav-title {
  font-size: 16px;
  font-weight: 700;
}

.nav-image {
  margin-left: 45px;
}

.hide{
  display:none
}
