.main-content {
  padding-top: 25%;
  padding-bottom: 10%;
  // height: 91.3vh;
}
@media (min-width: 645px) {
  .main-content {
    padding-top: 8%;
    padding-left: 7%;
    padding-bottom: 2%;
    // height: 91.3vh;
  }
}
