.nav-badge {
  background-color: beige;
  .reward-badge {
    color: rgb(74, 211, 74);
    font-size: 15px;
    font-weight: bolder;
  }
  .nav-badge-icon {
    font-size: 10px;
    vertical-align: super;
  }
  .badge-title {
    font-size: 10px;
  }
}
.progress-item{
  padding-bottom: 1%;
  font-size: x-small;
}
