<div class="d-flex">
  <button type="button" class="btn nav-badge progress-item me-3">
    <div class="row">
      <div class="col text-center g-0">
        <span class="">
          <app-circular-progress-bar
            [progress]="50"
          ></app-circular-progress-bar>
        </span>
      </div>
      <div class="col g-0">
        <span class="text-dark"
          >Earned<br />
          Year to Date
        </span>
      </div>
    </div>
  </button>
  <button type="button" class="btn nav-badge">
    <span class="badge-title text-dark">My Reward Balance </span><br />
    <span class="badge badge-light reward-badge"
      ><span class="nav-badge-icon">$</span>50.00</span
    >
  </button>
</div>
