<div class="row mb-3">
  <div *ngFor="let promotion of this.promotions" class="col-md-6">
    <div class="card box our-services settings">
      <span class="notify-badge active">NEW</span>
      <div class="card-body">
        <h5 class="card-title">{{ promotion.attributes.name }}</h5>
        <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
        <p class="card-text">
          {{ promotion.attributes.description }}
        </p>
      </div>
      <div class="card-footer footer">
        <a href="#" class="btn btn-primary">Redeem</a>
      </div>
    </div>
  </div>
  <!-- <div  *ngFor="let promotion of this.promotions"  class="col-md-6">
    <div class="box">
      <div class="our-services settings">
        <div class="row">
          <div class="col">
            <p
              class="mb-2"
              style="font-size: 13px; text-align: left; color: grey"
            >
              Get started now!
            </p>
          </div>
        </div>
        <div class="row mb-4">
          <div class="col" style="text-align: left">
            <p>{promotion.attributes.name
            }</p>
          </div>
          <div class="col">
            <i class="fa-sharp fa-solid fa-clipboard-list-check"></i>
          </div>
        </div>
        <div class="row mb-5">
          <div class="col" style="text-align: left">
            <a style="color: var(--bs-link-color); text-decoration: underline"
              >Learn More</a
            >
          </div>
          <div class="col">
            <div
              style="
                border-radius: 12px;
                height: 115%;
                border: 1px solid var(--bs-link-color);
              "
            >
              <a style="color: var(--bs-link-color); text-decoration: underline"
                >Submit</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> -->
  <!-- <div class="col-md-6">
    <div class="box">
      <div class="our-services settings">
        <div class="row">
          <div class="col">
            <p
              class="mb-2"
              style="font-size: 13px; text-align: left; color: grey"
            >
              Get started now!
            </p>
          </div>
        </div>
        <div class="row mb-4">
          <div class="col" style="text-align: left">
            <p>Take your health Rist Assessment</p>
          </div>
          <div class="col">
            <i class="fa-sharp fa-solid fa-clipboard-list-check"></i>
          </div>
        </div>
        <div class="row mb-5">
          <div class="col" style="text-align: left">
            <a style="color: var(--bs-link-color); text-decoration: underline"
              >Learn More</a
            >
          </div>
          <div class="col">
            <div
              style="
                border-radius: 12px;
                height: 115%;
                border: 1px solid var(--bs-link-color);
              "
            >
              <a style="color: var(--bs-link-color); text-decoration: underline"
                >Submit</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="box">
      <div class="our-services settings">
        <div class="row">
          <div class="col">
            <p
              class="mb-2"
              style="font-size: 13px; text-align: left; color: grey"
            >
              Get started now!
            </p>
          </div>
        </div>
        <div class="row mb-4">
          <div class="col" style="text-align: left">
            <p>Take your health Rist Assessment</p>
          </div>
          <div class="col">
            <i class="fa-sharp fa-solid fa-clipboard-list-check"></i>
          </div>
        </div>
        <div class="row mb-5">
          <div class="col" style="text-align: left">
            <a style="color: var(--bs-link-color); text-decoration: underline"
              >Learn More</a
            >
          </div>
          <div class="col">
            <div
              style="
                border-radius: 12px;
                height: 115%;
                border: 1px solid var(--bs-link-color);
              "
            >
              <a style="color: var(--bs-link-color); text-decoration: underline"
                >Submit</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="box">
      <div class="our-services settings">
        <div class="row">
          <div class="col">
            <p
              class="mb-2"
              style="font-size: 13px; text-align: left; color: grey"
            >
              Get started now!
            </p>
          </div>
        </div>
        <div class="row mb-4">
          <div class="col" style="text-align: left">
            <p>Take your health Rist Assessment</p>
          </div>
          <div class="col">
            <i class="fa-sharp fa-solid fa-clipboard-list-check"></i>
          </div>
        </div>
        <div class="row mb-5">
          <div class="col" style="text-align: left">
            <a style="color: var(--bs-link-color); text-decoration: underline"
              >Learn More</a
            >
          </div>
          <div class="col">
            <div
              style="
                border-radius: 12px;
                height: 115%;
                border: 1px solid var(--bs-link-color);
              "
            >
              <a style="color: var(--bs-link-color); text-decoration: underline"
                >Submit</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> -->
</div>
