<div class="row mb-3">
  <div *ngFor="let promotion of this.promotions" class="col-md-6">
    <div class="card box our-services settings">
      <span class="notify-badge active">NEW</span>
      <div class="card-body">
        <h5 class="card-title">{{ promotion.attributes.name }}</h5>
        <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
        <p class="card-text">
          {{ promotion.attributes.description }}
        </p>
      </div>
      <div class="card-footer footer">
        <a href="#" class="btn btn-primary">Redeem</a>
      </div>
    </div>
  </div>

</div>
