<div class="container">
  <div class="row">
    <ng-container *ngFor="let item of redemptions; let i = index">
      <div
        class="col-3 item-col g-0"
        [style.min-width]="100 / divideLenth + '%'"
        (click)="openDetails(i + 1, item)"
      >
        <img class="item" src="{{ item.imageUrls['1200w-326ppi'] }}" />Title
        {{ i + 1 }}
      </div>
      <div
        *ngIf="descriptionIndex(i)"
        class="col-12 details g-0 p-2"
        id="#{{ i + 1 }}"
      >
        <app-gift-card-details
          [index]="i"
          [detailsIdArray]="detailsIdArray"
          [divideLenth]="divideLenth"
        ></app-gift-card-details>
      </div>
    </ng-container>
  </div>
  <div class="row">
    <div class="col">
      <nav aria-label="..." class="pagination">
        <ul class="pagination">
          <li class="page-item">
            <span class="page-link"
              ><i class="fa-solid fa-arrow-left"></i
            ></span>
          </li>
          <li class="page-item active" aria-current="page">
            <span class="page-link">1</span>
          </li>
          <li class="page-item">
            <a class="page-link" href="#"
              ><i class="fa-solid fa-arrow-right"></i
            ></a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>
<app-info-modal
  [message]="selectedGiftCard?.description"
  [title]="'Product Description'"
  [id]="'details'"
></app-info-modal>
<app-info-modal
  [message]="selectedGiftCard?.terms"
  [title]="'Terms & Conditions'"
  [id]="'terms'"
></app-info-modal>
<!-- <app-info-modal [message]="selectedGiftCard?." [title]="" [id]="'deliveryInfo'"></app-info-modal> -->
