<div class="sidebar" [ngClass]="{ expanded: isExpanded }" id="sidebar">
  <div class="header">
    <h1 class="head-title">Hello User!</h1>
    <div class="toggle" (click)="handleSidebarToggle()" style="cursor: pointer">
      <i
        [ngClass]="{ hide: !isExpanded }"
        class="fa-solid fa-xmark fa-lg sidebar-icon"
      ></i>
      <i
        [ngClass]="{ hide: isExpanded }"
        class="fa-solid fa-bars fa-lg sidebar-icon"
      ></i>
    </div>
  </div>
  <div class="content">
    <div class="link" title="Home" [routerLink]="['/home']">
      <div class="content menu-height">
        <div class="icon">
          <i class="fa-solid fa-house fa-lg sidebar-icon"></i> 
        </div>
        <div class="item-title" >Home</div>
      </div>
    </div>
    <div class="link" [routerLink]="['/earning-opportunities']" title="Earning Opportunities">
      <div class="content menu-height">
        <div class="icon">
          <i class="fa-solid fa-person-running fa-lg sidebar-icon"></i>
        </div>
        <div class="item-title" >Earning Opportunities</div>
      </div>
    </div>
    <div class="link" [routerLink]="['/activity-history']" title="Activity History">
      <div class="content menu-height">
        <div class="icon">
          <i class="fa-solid fa-clock-rotate-left fa-lg sidebar-icon"></i>
        </div>
        <div class="item-title" >Activity History</div>
      </div>
    </div>
    <div class="link" [routerLink]="['/reward-accounts']" title="Reward Accounts">
      <div class="content menu-height">
        <div class="icon">
          <i class="fa-solid fa-award fa-lg sidebar-icon"></i>
        </div>
        <div class="item-title" >Reward Accounts</div>
      </div>
    </div>
    <div class="link" title="Redeem" [routerLink]="['/redemption-catalog']">
      <div class="content menu-height">
        <div class="icon">
          <i class="fa-solid fa-gift fa-lg sidebar-icon"></i>
        </div>
        <div class="item-title"  > Redeem </div>
      </div>
    </div>
    <div class="link" title="FAQ">
      <div class="content menu-height">
        <div class="icon">
          <i
            class="fa-sharp fa-solid fa-circle-question fa-lg sidebar-icon"
          ></i>
        </div>
        <div class="item-title">FAQ</div>
      </div>
    </div>
    <div class="link" (click)="logout()" title="Logout">
      <div class="content menu-height">
        <div class="icon">
          <i class="fa-sharp fa-solid fa-right-from-bracket"></i>
        </div>
        <div class="item-title">Logout</div>
      </div>
    </div>
  </div>
  <div class="footer"></div>
</div>
