@import "~@fortawesome/fontawesome-free/css/all.css";
.chevron::before {
  border-style: solid;
  border-width: 0.15em 0.15em 0 0;
  content: "";
  display: inline-block;
  height: 0.35em;
  left: 0.15em;
  position: relative;
  top: 0.3em;
  vertical-align: top;
  width: 0.35em;
}
.sidebar {
  // margin-top: 80px;
  position: fixed;
  left: 0;
  z-index: 205;
  height: 100vh;
  transition: 0.3s;
  width: 60px;
  &.expanded {
    width: 170px;

    .header {
      h1 {
        margin-left: 0px;
      }
    }
    .content {
      display: contents;
      .link {
        .content {
          .item-title {
            max-width: 150px;
          }
          .icon {
            margin-right: 3px;
          }
        }
        .children {
          .content {
            padding-left: 30px;
          }
        }
      }
    }
  }

  // background: #397bff;
  background: linear-gradient(135deg,#2f3ea0,#ae342d);
  color: #ffffff;

  .header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    // background: #0f1017;

    h1 {
      font-size: 13px;
      color: #ffffff;
      margin: 0;
      flex: 1;
      transition: 0.3s;
      max-width: 80px;
    }
    .head-title {
      margin-left: -100px;
    }
    .sidebar-icon {
      margin-left: 14px;
    }
  }

  .content {
    .link {
      .children {
        .content {
          background: #27283a;
          padding-left: 10px;
          &.active {
            background: #191a27;
          }
        }
      }
      .content {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px;
        cursor: pointer;
        transition: 0.3s;
        &:hover {
          // background: #0f1017;
          background: hsla(0,0%,87.8%,.2);
          .item-title {
            color: white;
          }
        }

        &.active {
          // background: #0f1017;
          background: hsla(0,0%,87.8%,.2);
          .item-title {
            color: white;
          }
        }

        .icon {
          flex: 0 0 30px;
          display: flex;
          align-items: center;
          justify-content: center;
          margin-right: 0px;
        }
        .item-title {
          flex: 1;
          color: #ffffff;
          transition: 0.3s;
          max-width: 0px;
          overflow: hidden;
        }
      }
    }
  }
}

.sidebar-icon {
  color: white;
}

.menu-height {
  height: 47px;
}


.hide {
  display: none;
}

@media (max-width: 744px) {
  .content {
    display: none;
  }
  .sidebar {
    margin-top: 0px;
    top: 0;
    background: none;
    &.expanded {
      background-color: #397bff !important;
    }
  }
  .header {
    height: 60px;
  }
}
