<div class="container">
  <div class="row">
    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
      <div class="card border-0 shadow rounded-3 my-5">
        <div class="card-body p-4 p-sm-5">
          <h5 class="card-title text-center mb-5 fw-light fs-5">Log in to your member account</h5>
          <form class="needs-validation" novalidate [formGroup]="loginForm" (ngSubmit)="onSubmit()" >
            <div class="form-floating mb-3">
              <input formControlName="email" [ngClass]="{'is-invalid':submitted && loginForm['controls']['email']['errors']}" type="email" class="form-control" id="floatingInput" placeholder="name@example.com" required>
              <label for="floatingInput" class="form-label">Email address</label>
              <div *ngIf="submitted && loginForm['controls']['email']['errors']" class="text-danger">
                <div *ngIf="submitted && loginForm['controls']['email']['errors']['required']">
                  Email is required
                </div>
                <div *ngIf="submitted && loginForm['controls']['email']['errors']['email']">
                  Enter correct format of email
                </div>
              </div>
            </div>
            <div class="form-floating mb-3">
              <input formControlName="password" [ngClass]="{'is-invalid':submitted && loginForm['controls']['password']['errors']}" type="password" class="form-control" id="floatingPassword" placeholder="Password" required>
              <label for="floatingPassword">Password</label>
              <div *ngIf="submitted && loginForm['controls']['password']['errors']" class="text-danger">
                <div *ngIf="submitted && loginForm['controls']['password']['errors']['required']">
                  Password is required
                </div>
              </div>
            </div>

            <!-- <div class="form-check mb-3">
              <input class="form-check-input" type="checkbox" value="" id="rememberPasswordCheck">
              <label class="form-check-label" for="rememberPasswordCheck">
                Remember password
              </label>
            </div> -->
            <div class="d-grid">
              <button class="btn btn-primary login-btn text-uppercase fw-bold" type="submit">Sign
                in</button>
            </div>
            <div class="d-grid login-helper-text">
            <a href="#" class="forgot-password"> Forgot Username or password ? </a>
            <span>Not signed up ?<a href="#" class="forgot-password"> Register Now </a> </span>
            </div>
            <hr class="my-4">
            <div class="d-grid mb-2">
              <button class="btn google-sign-in-btn login-btn text-uppercase fw-bold" type="submit">
                <i class="fab fa-google me-2"></i> Sign in with Google
              </button>
            </div>
            <!-- <div class="d-grid">
              <button class="btn btn-facebook login-btn text-uppercase fw-bold" type="submit">
                <i class="fab fa-facebook-f me-2"></i> Sign in with Facebook
              </button>
            </div> -->
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
