<div class="container">
  <div class="row">
    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
      <div class="card border-0 shadow rounded-3 my-3">
        <div class="card-body p-4 p-sm-5">
          <h5 class="card-title text-center mb-5 fw-light fs-5">{{ 'Log in to your member account' | translate }}</h5>
          <form class="needs-validation" novalidate [formGroup]="loginForm" (ngSubmit)="onSubmit()" >
            <div class="form-floating mb-3">
              <input class="form-control form-control-sm" formControlName="email" [ngClass]="{'is-invalid':submitted && loginForm['controls']['email']['errors']}" type="email" id="floatingInput" placeholder="{{'name@example.com' | translate }}" required>
              <label for="floatingInput" class="form-label">{{'Email address' | translate }}</label>
              <div *ngIf="submitted && loginForm['controls']['email']['errors']" class="text-danger">
                <div *ngIf="submitted && loginForm['controls']['email']['errors']['required']">
                  {{'Email is required' | translate }}
                </div>
                <div *ngIf="submitted && loginForm['controls']['email']['errors']['email']">
                  {{'Enter correct format of email' | translate }}
                </div>
              </div>
            </div>
            <div class="form-floating mb-3">
              <input formControlName="password" [ngClass]="{'is-invalid':submitted && loginForm['controls']['password']['errors']}" type="password" class="form-control form-control-sm" id="floatingPassword" placeholder="{{'Password' | translate }}" required>
              <label for="floatingPassword">{{'Password' | translate }}</label>
              <div *ngIf="submitted && loginForm['controls']['password']['errors']" class="text-danger">
                <div *ngIf="submitted && loginForm['controls']['password']['errors']['required']">
                  {{'Password is required' | translate }}
                </div>
              </div>
            </div>

            <!-- <div class="form-check mb-3">
              <input class="form-check-input" type="checkbox" value="" id="rememberPasswordCheck">
              <label class="form-check-label" for="rememberPasswordCheck">
                Remember password
              </label>
            </div> -->
            <div class="d-grid">
              <button class="btn btn-primary btn-sm text-uppercase" type="submit">{{'Sign in' | translate }}</button>
            </div>
            <div class="d-grid login-helper-text">
            <a href="#" class="forgot-password"> {{'Forgot Username or password ?' | translate }} </a>
            <span>{{'Not signed up ?' | translate }}<a href="#" class="forgot-password"> {{'Register Now' | translate }} </a> </span>
            </div>
            <hr class="my-2">
            <div class="d-grid mb-2">
              <button class="btn btn-sm btn-danger text-uppercase" type="submit">
                <i class="fab fa-google me-2"></i> {{'Sign in with Google' | translate }}
              </button>
            </div>
            <!-- <div class="d-grid">
              <button class="btn btn-facebook login-btn text-uppercase fw-bold" type="submit">
                <i class="fab fa-facebook-f me-2"></i> Sign in with Facebook
              </button>
            </div> -->
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
