// @import url("https://fonts.googleapis.com/css?family=Poppins|Ubuntu&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background: #eee;
  font-family: "Ubuntu", sans-serif;
}

.tab-content {
  display: none;
}
@media (max-width: 800px) {
  .tab-content {
    display: contents;
  }
  .grid-content {
    display: none;
  }
}
