<div class="col-8 mb-5 sideBar" style="float: left;">
  <!-- <div class="text-center mt-5">
      <h1>Our Services</h1>
  </div> -->
  <div class="row text-left">
      <div class="col-md-6">
          <div class="box">
              <div class="our-services settings">
                <div class="row">
                  <div class="col">
                    <p class="mb-2" style="font-size: 13px; text-align: left; color: grey;">Get started now!</p>
                  </div>
                </div>
                <div class="row mb-4">
                  <div class="col" style="text-align: left;">
                    <p>Take your health Rist Assessment</p>
                  </div>
                  <div class="col">
                    <!-- <div class="icon"> <img src="https://i.imgur.com/6NKPrhO.png"> </div> -->
                    <i class="fa-sharp fa-solid fa-clipboard-list-check"></i>
                  </div>
                </div>
                <div class="row mb-5">
                  <div class="col" style="text-align: left;">
                    <a style="color: var(--bs-link-color);text-decoration: underline;">Learn More</a>
                  </div>
                  <div class="col">
                    <div style="border-radius:12px;height: 115%;border: 1px solid var(--bs-link-color);">
                      <a style="color: var(--bs-link-color);text-decoration: underline;">Submit</a>
                    </div>
                  </div>
                </div>
              </div>
          </div>
      </div>
      <div class="col-md-6">
        <div class="box">
            <div class="our-services settings">
              <div class="row">
                <div class="col">
                  <p class="mb-2" style="font-size: 13px; text-align: left; color: grey;">Get started now!</p>
                </div>
              </div>
              <div class="row mb-4">
                <div class="col" style="text-align: left;">
                  <p>Take your health Rist Assessment</p>
                </div>
                <div class="col">
                  <!-- <div class="icon"> <img src="https://i.imgur.com/6NKPrhO.png"> </div> -->
                  <i class="fa-sharp fa-solid fa-clipboard-list-check"></i>
                </div>
              </div>
              <div class="row mb-5">
                <div class="col" style="text-align: left;">
                  <a style="color: var(--bs-link-color);text-decoration: underline;">Learn More</a>
                </div>
                <div class="col">
                  <div style="border-radius:12px;height: 115%;border: 1px solid var(--bs-link-color);">
                    <a style="color: var(--bs-link-color);text-decoration: underline;">Submit</a>
                  </div>
                </div>
              </div>
            </div>
        </div>
    </div>
      <!-- <div class="col-md-4">
          <div class="box">
              <div class="our-services privacy">
                  <div class="icon"> <img src="https://i.imgur.com/AgyneKA.png"> </div>
                  <h4>Privacy</h4>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit </p>
              </div>
          </div>
      </div> -->
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="box">
          <div class="our-services settings">
            <div class="row">
              <div class="col">
                <p class="mb-2" style="font-size: 13px; text-align: left; color: grey;">Get started now!</p>
              </div>
            </div>
            <div class="row mb-4">
              <div class="col" style="text-align: left;">
                <p>Take your health Rist Assessment</p>
              </div>
              <div class="col">
                <!-- <div class="icon"> <img src="https://i.imgur.com/6NKPrhO.png"> </div> -->
                <i class="fa-sharp fa-solid fa-clipboard-list-check"></i>
              </div>
            </div>
            <div class="row mb-5">
              <div class="col" style="text-align: left;">
                <a style="color: var(--bs-link-color);text-decoration: underline;">Learn More</a>
              </div>
              <div class="col">
                <div style="border-radius:12px;height: 115%;border: 1px solid var(--bs-link-color);">
                  <a style="color: var(--bs-link-color);text-decoration: underline;">Submit</a>
                </div>
              </div>
            </div>
          </div>
      </div>
  </div>
  <div class="col-md-6">
    <div class="box">
        <div class="our-services settings">
          <div class="row">
            <div class="col">
              <p class="mb-2" style="font-size: 13px; text-align: left; color: grey;">Get started now!</p>
            </div>
          </div>
          <div class="row mb-4">
            <div class="col" style="text-align: left;">
              <p>Take your health Rist Assessment</p>
            </div>
            <div class="col">
              <!-- <div class="icon"> <img src="https://i.imgur.com/6NKPrhO.png"> </div> -->
              <i class="fa-sharp fa-solid fa-clipboard-list-check"></i>
            </div>
          </div>
          <div class="row mb-5">
            <div class="col" style="text-align: left;">
              <a style="color: var(--bs-link-color);text-decoration: underline;">Learn More</a>
            </div>
            <div class="col">
              <div style="border-radius:12px;height: 115%;border: 1px solid var(--bs-link-color);">
                <a style="color: var(--bs-link-color);text-decoration: underline;">Submit</a>
              </div>
            </div>
          </div>
        </div>
    </div>
</div>
  </div>
</div>
<div class="col-4 mb-5 sideBar" style="float: right;position: relative;margin-top: 35px;left :10%">
  <div class="card" style="width: 18rem;">
    <div class="card-body m-2" style="text-align: center;">
      <h5 class="card-title" style="color: #3188ba;">Just for you</h5>
    </div>
    <hr class="m-2"/>
  <!-- </div>
  <div class="card" style="width: 18rem;"> -->
    <div class="card-body m-2">
      <h5 class="card-title">Manage Your Diabetes</h5>
      <!-- <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6> -->
      <p class="card-text mb-2">Take control of diabetes! Glucose monitors, test strips and one-on-one coaching are free and just a few clicks away - take advantage of these resources now!</p>
      <a href="#" style="color: grey;" class="card-link">DISMISS</a>
      <a href="#" class="card-link">GO TO RESOURCES</a>
    </div>
    <hr class="m-2"/>
  <!-- </div>
  <div class="card" style="width: 18rem;"> -->
    <div class="card-body m-2">
      <h5 class="card-title">Manage Your Diabetes</h5>
      <!-- <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6> -->
      <p class="card-text mb-2">Take control of diabetes! Glucose monitors, test strips and one-on-one coaching are free and just a few clicks away - take advantage of these resources now!</p>
      <a href="#" style="color: grey;" class="card-link">DISMISS</a>
      <a href="#" class="card-link">GO TO RESOURCES</a>
    </div>
  </div>
</div>
