<div
  class="modal fade"
  id="{{ elementId }}"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered center">
    <form [formGroup]="form" (ngSubmit)="onFormSubmit($event)">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">{{ title }}</h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <div class="row m-2" *ngFor="let field of fields">
            <div class="col-4">
              <label [for]="field.fieldName">{{ field.label }}</label>
            </div>
            <div class="col-8">
              <input
                [id]="field.fieldName"
                [formControlName]="field.fieldName"
                [type]="field.fieldType"
                class="form-control"
              />
            </div>
            <div class="col-12 text-danger errorDiv">
              <div
                *ngIf="
                  form.get(field.fieldName)?.dirty ||
                  form.get(field.fieldName)?.touched
                "
              >
                <div *ngIf="form.get(field.fieldName)?.hasError('required')">
                  {{ field.label }} Required
                </div>
                <div
                  *ngIf="
                    field.fieldName == 'confirmEmail' &&
                    form?.hasError('emailMismatch')
                  "
                >
                  Confirm Email is mismatch
                </div>
                <div
                  *ngIf="
                    field.fieldName == 'email' &&
                    form.get('email')?.hasError('email')
                  "
                >
                  Email is Invalid
                </div>
                <div
                  *ngIf="
                    field.fieldType == 'tel' &&
                    form.get(field.fieldName)?.hasError('invalidTel')
                  "
                >
                  {{ field.label }} is Invalid
                </div>
              </div>
            </div>
          </div>
          <!-- <div class="row text-danger">
            <div
              *ngIf="
                form.get('confirmEmail')?.dirty ||
                form.get('confirmEmail')?.touched ||
                form.get('email')?.dirty ||
                form.get('emial')?.touched
              "
            >
              <div *ngIf="form?.hasError('emailMismatch')">
                Confirm Email is mismatch
              </div>
              <div *ngIf="form.get('email')?.hasError('email')">
                Email is Invalid
              </div>
            </div>
          </div> -->

          <!-- <div class="row text-danger" *ngFor="let field of fields">
            <div
              *ngIf="
                form.get(field.fieldName)?.dirty ||
                form.get(field.fieldName)?.touched
              "
            >
              <div *ngIf="form.get(field.fieldName)?.hasError('required')">
                {{ field.label }} Required
              </div>
              <div *ngIf="form.get(field.fieldName)?.hasError('invalidTel')">
                {{ field.label }} is Invalid
              </div>
            </div>
          </div> -->
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Close
          </button>
          <button
            type="submit"
            class="btn btn-primary"
            data-bs-dismiss="modal"
            [disabled]="form.invalid"
          >
            Reedem
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
