.center {
  width: fit-content;
}
.btn {
  color: #fff;
  padding: 8px;
  padding-right: 30px;
  padding-left: 30px;
  border-radius: 10px;
  font-size: 13px;
}

.btn-primary:hover {
  color: #fff;
  background-color: #004cb9;
  border-color: #004cb9;
  padding: 8px;
  padding-right: 30px;
  padding-left: 30px;
  border-radius: 10px;
  font-size: 13px;
}

.btn-enable {
  pointer-events: all;
}
.btn-disable {
  pointer-events: none;
}

.errorDiv {
  text-align: end;
}
