// .box {
//   position: relative;
//   width: 100%;
//   height: 240px;
//   padding-right: 15px;
//   padding-left: 15px;
// }

.box {
  position: relative;
  max-width: 600px;
  width: 90%;
  height: 88%;
  background: #fff;
  // box-shadow: 0 0 15px rgba(0,0,0,.1);
}

.card {
  border: none;
  padding: 1px !important;
}

.card-text-size {
  font-size: 10px;
}

.card-image {
  width: -webkit-fill-available;
}

.card-image-30 {
  width: 30%;
}

.card-title-text {
  font-size: 13px;
}

.card-video {
  width: 75%;
  height: 74px;
}

.our-services {
  margin-top: 35px;
  margin-left: 15px;
  // padding-bottom: ;
  padding: 15px 25px 30px;
  min-height: 140px;
  text-align: center;
  border-radius: 10px;
  transition: all 0.4s ease-in-out;
  box-shadow: 0 0 25px 0 rgba(20, 27, 202, 0.17);
}
.notify-badge {
  position: absolute;
  left: -10px;
  top: 10px;
  text-align: center;
  border-radius: 30px 30px 30px 30px;

  padding: 5px 10px;
  font-size: 15px;
}
.active {
  background: rgb(0, 255, 98);
  color: rgb(12, 23, 231);
}
.expire {
  background: rgb(255, 30, 0);
  color: white;
}

.footer {
  background: none;
  border-top: none;
}


body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #f0f0f0;
}

.wrapper {
    // position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    background: #FFF;
    border: 1px solid #D4E0D7;
}

.badge {
    height: 50px;
    background: #58C777;
    width: 200px;
    text-align: center;
    font-size: 20px;
    line-height: 50px;
    font-family: sans-serif;
    color: #FFF;
    transform: rotate(-45deg);
    position: relative;
    top: -2px;
    left: -70px;
    box-shadow: inset 0px 0px 0px 4px rgba(255, 255, 255, 0.34);
}

.badge:after {
	position: absolute;
	content: '';
	display: block;
	height: 100px;
	width: 100px;
	background: #EDF1EE;
	top: -55px;
	left: 130px;
 transform: rotate(-45deg);
	box-shadow: -115px -121px 0px 0px #EDF1EE;
}

.badge .left {
	position: absolute;
	content: '';
	display: block;
	top: 50px;
	left: 25px;
	height: 8px;
	width: 8px;
	background: linear-gradient(135deg, rgba(90, 146, 106, 1) 50%,rgba(90, 146, 106, 0) 50.1%);
}
.badge .right {
	position: absolute;
	content: '';
	display: block;
	top: 50px;
	left: 157px;
	height: 8px;
	width: 8px;
	background: linear-gradient(135deg, rgba(90, 146, 106, 1) 50%,rgba(90, 146, 106, 0) 50.1%);
	transform: rotate(90deg);
}












// @import url(https://fonts.googleapis.com/css?family=Lato:700);


.pad-o {
  padding: 0;
}

.pad-top-o {
  padding-top: 0;
}

/* common */
.ribbon {
  width: 97px;
  height: 93px;
  overflow: hidden;
  position: absolute;
}

.ribbon::before,
.ribbon::after {
  position: absolute;
  z-index: 0;
  content: '';
  display: block;
  border: 5px solid #2980b9;
}
.ribbon span {
  position: absolute;
  display: block;
  width: 230px;
  padding: 6px 0;
  background-color: #3498db;
  box-shadow: 0 5px 10px rgba(0,0,0,.1);
  color: #fff;
  font: 700 10px/1 'Lato', sans-serif;
  text-shadow: 0 1px 1px rgba(0,0,0,.2);
  text-transform: uppercase;
  text-align: center;
}

.ribbon-expired::before,
.ribbon-expired::after {
  border: 5px solid #ff3131!important;
}

.ribbon-expired {
  background-color: #ff3131!important;
}

.ribbon-expiring-soon {
  background-color: #f77e17!important;
}

.ribbon-expiring-soon::before,
.ribbon-expiring-soon::after {
  border: 5px solid #f77e17!important;
}

/* top left*/
.ribbon-top-left {
  top: -10px;
  left: -11px;
}
.ribbon-top-left::before,
.ribbon-top-left::after {
  border-top-color: transparent;
  border-left-color: transparent;
}
.ribbon-top-left::before {
  top: -1px;
  // right: 24px;
  right: 15px;
}
.ribbon-top-left::after {
  // bottom: 20px;
  bottom: 12px;
  left: 0;
}
.ribbon-top-left span {
  // right: -45px;
  // top: 17px;
  right: -51px;
  top: 22px;
  transform: rotate(-45deg);
}

/* top right*/
.ribbon-top-right {
  top: -10px;
  right: -10px;
}
.ribbon-top-right::before,
.ribbon-top-right::after {
  border-top-color: transparent;
  border-right-color: transparent;
}
.ribbon-top-right::before {
  top: 0;
  left: 0;
}
.ribbon-top-right::after {
  bottom: 0;
  right: 0;
}
.ribbon-top-right span {
  left: -25px;
  top: 30px;
  transform: rotate(45deg);
}

/* bottom left*/
.ribbon-bottom-left {
  bottom: -10px;
  left: -10px;
}
.ribbon-bottom-left::before,
.ribbon-bottom-left::after {
  border-bottom-color: transparent;
  border-left-color: transparent;
}
.ribbon-bottom-left::before {
  bottom: 0;
  right: 0;
}
.ribbon-bottom-left::after {
  top: 0;
  left: 0;
}
.ribbon-bottom-left span {
  right: -25px;
  bottom: 30px;
  transform: rotate(225deg);
}

/* bottom right*/
.ribbon-bottom-right {
  bottom: -10px;
  right: -10px;
}
.ribbon-bottom-right::before,
.ribbon-bottom-right::after {
  border-bottom-color: transparent;
  border-right-color: transparent;
}
.ribbon-bottom-right::before {
  bottom: 0;
  left: 0;
}
.ribbon-bottom-right::after {
  top: 0;
  right: 0;
}
.ribbon-bottom-right span {
  left: -25px;
  bottom: 30px;
  transform: rotate(-225deg);
}




.button-survey {
  background-color: #efdeff;
  color: #975aff;
  border-color: #efdeff;
}

.button-survey:hover {
  color: #fff;
    background-color: #975aff;
    border-color: #975aff;
}