<div class="card sidebar-card">
  <div class="card-body m-2" style="text-align: center">
    <h5 class="card-title" style="color: #3188ba">Just for you</h5>
  </div>
  <hr class="m-2" />
  <div class="card-body m-2">
    <h5 class="card-title">Manage Your Diabetes</h5>
    <p class="card-text mb-2">
      Take control of diabetes! Glucose monitors, test strips and one-on-one
      coaching are free and just a few clicks away - take advantage of these
      resources now!
    </p>
    <a href="#" style="color: grey" class="card-link">DISMISS</a>
    <a href="#" class="card-link">GO TO RESOURCES</a>
  </div>
  <hr class="m-2" />
  <div class="card-body m-2">
    <h5 class="card-title">Manage Your Diabetes</h5>
    <p class="card-text mb-2">
      Take control of diabetes! Glucose monitors, test strips and one-on-one
      coaching are free and just a few clicks away - take advantage of these
      resources now!
    </p>
    <a href="#" style="color: grey" class="card-link">DISMISS</a>
    <a href="#" class="card-link">GO TO RESOURCES</a>
  </div>
</div>
