<div class="row ms-2">
  <div class="col details-title mb-3 mt-3">Product Title</div>
  <div class="col close-btn">
    <i (click)="close(index + 1)" class="fa-solid fa-xmark fa-lg"></i>
  </div>
</div>
<div class="row">
  <div class="col-sm-12 col-md-6 col-lg-4">
    <div class="row p-3">
      <div class="col-12">
        <img
          class="details-image"
          src="{{ giftCard?.imageUrls['1200w-326ppi'] }}"
        />
      </div>
      <div class="col-12">
        <button class="butn" data-bs-toggle="modal" data-bs-target="#details">
          <span class="btn-title">Product Description</span>
        </button>
      </div>
      <div class="col-12">
        <button
          class="butn"
          data-bs-toggle="modal"
          data-bs-target="#deliveryInfo"
        >
          <span class="btn-title">Delivery Information</span>
        </button>
      </div>
    </div>
  </div>
  <div class="col-sm-12 col-md-6 col-lg-4">
    <div class="row">
      <div class="col-12">
        <ul class="remove-icn">
          <li class="list-item">
            <span class="list-item-title">TYPE</span>
            <ul class="remove-icn">
              <li class="list-subitem">
                <input
                  type="radio"
                  name="card"
                  value="physical-card"
                  (click)="isPhysical($event)"
                />
                Physical Gift Card
              </li>
              <li class="list-subitem">
                <input
                  type="radio"
                  name="card"
                  value="digital-card"
                  (click)="isDigital($event)"
                />
                Digital Gift Card
              </li>
            </ul>
          </li>
          <li class="list-item">
            <span class="list-item-title">QUANTITY</span>
            <ul class="remove-icn">
              <li>
                <div class="counter row">
                  <div class="col counter-field">
                    <input type="text" class="field" [(ngModel)]="count" />
                  </div>
                  <div class="col counter-item">
                    <button class="button" (click)="increaseCount()">+</button>
                    <button class="button" (click)="decreaseCount()">-</button>
                  </div>
                </div>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-sm-12 col-md-6 col-lg-4">
    <div class="row">
      <div class="col-12">
        <ul class="remove-icn">
          <li class="list-item">
            <span class="list-item-title">VALUE</span>
            <ul
              class="remove-icn"
              *ngFor="let item of giftCard?.items; let i = index"
            >
              <li class="list-subitem">
                <input type="radio" /> ${{ item?.faceValue }}
                {{ item?.minValue }} Points
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="row ms-2">
  <div class="col">
    <a
      href="#"
      class="policy-url"
      data-bs-toggle="modal"
      data-bs-target="#terms"
      >Terms & Conditions</a
    >
  </div>
  <div class="col text-end">
    <button
      class="btn btn-cart"
      data-bs-toggle="modal"
      data-bs-target="#physical-card-model"
      *ngIf="cardType === 'physical-card'"
    >
      Reedem
    </button>
    <button
      *ngIf="cardType === 'digital-card'"
      class="btn btn-cart"
      data-bs-toggle="modal"
      data-bs-target="#digital-card-model"
    >
      Reedem
    </button>
  </div>
</div>
